$maxW: 1200px;
$gutter: 20px;
$gutterLg: 50px;

// breakpoints
$tablet: 768px;
$desktopLg: 980px;

// colors
$primary: #264653;
$google: #00a057;
$google2: #4285f4;
$gmail: #dd4b39;
$facebook: #3b5998;
$twitter: #00aced;

:root {
  --primary: #{$primary};
  --secondary: #e76f51;
  --tertiary: #e9c46a;
  --white: #ffffff;
  --black: #000000;
  --gray: #{lighten($primary, 50)};

  --google: #{$google};
  --google2: #{$google2};
  --gmail: #{$gmail};
  --facebook: #{$facebook};
  --twitter: #{$twitter};

  --googleDk: #{darken($google, 20)};
  --google2Dk: #{darken($google2, 20)};
  --gmailDk: #{darken($gmail, 20)};
  --facebookDk: #{darken($facebook, 20)};
  --twitterDk: #{darken($twitter, 20)};
}
