$maxW: 1200px;
$gutter: 20px;
$gutterLg: 50px;

// breakpoints
$tablet: 768px;
$desktopLg: 980px;

:root {
  // colors
  --primary: #264653;
  --secondary: #e76f51;
  --tertiary: #e9c46a;
  --white: #ffffff;
  --black: #000000;
}
