.calendar {
  &__today {
    text-align: center;
    text-transform: uppercase;

    span {
      display: block;
      line-height: 1em;

      &:first-child {
        font-size: 31px;
      }

      &:last-child {
        font-size: 51px;
      }
    }
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    &__today {
      width: 36%;
      padding-right: $gutter;
    }
  }

  &__grid {
    display: none;
    width: 64%;
    font-size: 12px;

    @media screen and (min-width: $tablet) {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
    }

    > span {
      text-align: center;
    }
  }
}

.dow {
  font-weight: 800;
}

.today {
  color: var(--primary);
  font-weight: 800;
}
