.calendar {
  &__today {
    text-align: center;
    text-transform: uppercase;

    span {
      display: block;
      line-height: 1em;

      &:first-child {
        font-size: 19px;

        @media screen and (min-width: $tablet) {
          font-size: 31px;
        }
      }

      &:last-child {
        font-size: 31px;

        @media screen and (min-width: $tablet) {
          font-size: 51px;
        }
      }
    }
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    &__today {
      width: 36%;
    }
  }

  &__grid {
    display: none;
    width: 64%;
    font-size: 12px;

    @media screen and (min-width: $tablet) {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      margin-left: 5px;
    }

    > span {
      text-align: center;
      padding: 0 2px;
    }
  }
}

.dow {
  font-weight: 800;
}

.today {
  font-weight: 800;
  background: var(--primary);
  border-radius: 50%;
}
