.header {
  color: var(--white);
  padding: $gutter 0 $gutterLg 0;

  > div {
    @include constrainWidth;
    display: grid;
    grid-template-columns: 190px auto 190px;
    grid-template-rows: auto auto;
    grid-template-areas:
      ". . social"
      "weather title calendar";
    grid-gap: 10px;
  }
}

.header-social {
  grid-area: social;

  ul {
    display: flex;
  }

  li {
    margin-right: 10px;
  }

  span {
    @include srOnly;
  }

  a {
    display: block;
    width: 25px;
    height: 25px;
    border: 2px solid var(--white);
    border-radius: 50%;
    transition: all 0.25s;

    &.google {
      background-color: var(--google);

      &:hover,
      &:focus {
        background-color: var(--googleDk);
      }
    }

    &.gmail {
      background-color: var(--gmail);

      &:hover,
      &:focus {
        background-color: var(--gmailDk);
      }
    }

    &.facebook {
      background-color: var(--facebook);

      &:hover,
      &:focus {
        background-color: var(--facebookDk);
      }
    }

    &.twitter {
      background-color: var(--twitter);

      &:hover,
      &:focus {
        background-color: var(--twitterDk);
      }
    }
  }
}

.header-title {
  grid-area: title;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header-weather {
  grid-area: weather;
}

.header-calendar {
  grid-area: calendar;
}
