.header {
  color: var(--white);
  padding: $gutter 0 $gutterLg 0;

  > div {
    @include constrainWidth;
    display: grid;
    grid-template-columns: 178px auto 190px;
    grid-template-areas: "weather title calendar";
  }
}

.header-title {
  grid-area: title;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header-weather {
  grid-area: weather;
}

.header-calendar {
  grid-area: calendar;
}
